@font-face {
    font-family: 'Roboto Bold';
    src: url('/css/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('/css/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Open Sans';
    src: url('/css/OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans Semi';
    src: url('/css/OpenSans-SemiBold.ttf');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('/css/OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
  }
html {
    background-color: #f0f3f4;
    position: relative;
    min-height: 100%;
}

body {
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: black;
    font-family: 'Roboto';   
    font-size: 18px;
    line-height: 1.42857;
    
}
tbody{
    color: black;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top:-1px;
    border-right: 1px solid #eee;
    background-color: #3a3f51;
    color: #a6a8b1;
}
.nav-sidebar {
  margin-right: -21px; 
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #a6a8b1;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
.nav > li > a:focus, .nav > li > a:hover{
	color: #fff;
  	background-color: #32374a;
}

.main {
  padding: 20px;
}
.invoice-list-container, .content-invoice, .customer-list-container{
    background:white;
    opacity:0.8;
    padding: 5px !important;
}
.mandatory{
    color:red;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
.navbar-inverse {
    background-color: #f04949;
    border-color: #f04949;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    font-size:20px;
    font-weight: bold;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #f04949;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #f04949;
}

.line {
    font-size: 0;
    height: 2px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
    background-color: #2e3344;
}
.sidebar ul.nav li a > i {
    float: left;
    line-height: 40px;
    margin: -10px 5px -10px -10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 40px;
}
.sidebar ul.nav li a{
	font-weight: 700;
}
.btn-success {
    background-color: #27c24c !important;
    border-color: #27c24c !important;
    color: #000 !important;
}
.btn-primary {
    border-color: #7266ba;
    color: #000 !important;
}
.btn-info {
    background-color: #23b7e5;
    border-color: #23b7e5;
    color: #000 !important;
}
.btn-warning {
    background-color: #fad733;
    border-color: #fad733;
    color: #000 !important;
}
.btn-danger{
    background-color: #f05050;
    border-color: #f05050;
    color: #000 !important;
}
.btn-dark {
    background-color: #3a3f51;
    border-color: #3a3f51;
    color: #000 !important;
}
.footer{
    z-index: 9999;
    background-color: black;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    margin: 0;
    height: 31px;
}
.btn i{
	padding-left:5px;
	padding-right:10px;
}
.account-menu .fa, .dropdown-menu li a .fa{
	padding-left:5px;
	padding-right:10px;
	font-size:13px;
}
.logout .fa{
	color:#fff !important;	
}
.logout .fa:hover, .logout .fa:active, .logout .fa:focus{
	color:#111 !important;
}
input[type=number]{ -moz-appearance: textfield; }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.form-inline .form-group{
	margin-bottom: 20px;
	float: right;
}
.dropdown-menu{
	z-index: 9999 !important;
}
.message_success{background-color: #78b310; color:#fff;padding: 5px;}
.message_error{background-color: #e74c3c; color:#fff;padding: 5px;}
.modal-body{
	position: relative;
    overflow-y: auto;
    max-height: 100%;
}
@media print {
    #print_content {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
        font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}
.searchTxt{
	margin-bottom: 10px;
}
.success-icon{
	font-size:5em;
}
.invoice-save-top{
	margin-top:20px;height:60px;padding:20px;font-size:20px;
}
.invoice-save-btm{
	height:60px;padding:20px;font-size:20px;
}
.receipt-save-btn{
    font-size: 15px;
    height: 40px;
    margin-top:20px;
}

.bottom-ads{
	padding-left:0%;
}
@media (min-width: 768px) {
	.bottom-ads{
		padding-left:9%;
	}
}
.login-form {
    width: 380px;
    margin: 1% auto;
    padding: 20px;
	color:white;
}
.demo-heading {
	width: 600px;
    margin: 1% auto;
    padding: 20px;
}
.customer_detail_container{
    border-top: grey 1px solid;
    border-bottom: grey 1px solid;
    margin-bottom: 35px;
    text-align: left;
}
.dashboard{
    text-align: center;
}
.header{
    margin-bottom: 50px;
}
.menus .panel {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.menus a{
    text-decoration: none;
    cursor: pointer;
}

.notice-information{
    text-align: left;
    color:red;

}

.notices {
    margin:0 !important;
    min-height:280px;   
}

.logged-in-button {
    margin: 10px 10px 0 0;
} 

.back_btn{
    margin-top:10px;
}
.center {
    text-align: center
}